<ion-header>
   <ion-navbar>
      <ion-title>
         Happiness Story
      </ion-title>
      <ion-buttons end>
       <button
          ion-button
          icon-only
          (click)="addRecord()">
  	  <ion-icon name="add"></ion-icon>
       </button>
    </ion-buttons>
   </ion-navbar>
</ion-header>

<ion-content padding>

   <ion-list>
      <ion-card
         class="story"
         text-wrap
         *ngFor="let story of stories | async">
         <ion-item>
             <h2>{{story.title}}</h2>
            <div *ngIf="story.image">
               <img [src]="story.image">
            </div>
            <p>{{ story.summary }}</p>

         </ion-item>
      </ion-card>
   </ion-list>

</ion-content>