<ion-header>
   <ion-toolbar>
      <ion-title>
         {{ title }}
      </ion-title>
      <ion-buttons start>
         <button
            ion-button
            (click)="closeModal()">
           <span
              ion-text
              color="primary"
              showWhen="ios">Cancel</span>
           <ion-icon
              name="md-close"
              showWhen="android,windows"></ion-icon>
         </button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>
<ion-content>
   <form
      [formGroup]="form"
      (ngSubmit)="savestory(form.value)">

   	  <ion-item-divider color="light">
         <div *ngIf="!isEditable">
            Add a new Story
         </div>

   	  </ion-item-divider>

       <ion-item>
         <ion-label stacked>Stroy Name :</ion-label>
         <ion-input
            type="text"
            formControlName="name"
            [(ngModel)]="StoryName"></ion-input>
       </ion-item>
            
   	  <ion-item>
         <span
            ion-text
            color="danger"
            block
            text-center
            padding-top
            padding-bottom
            (click)="selectImage()">Select an image of Story :</span>
            <input
               type="hidden"
               name="image"
               formControlName="image"
               [(ngModel)]="storyImage">
            <img [src]="storyImage">
   	  </ion-item>

   	  <ion-item>
         <ion-label stacked>Story :</ion-label>
         <ion-textarea
			rows="6"
            formControlName="summary"
            [(ngModel)]="storySummary"></ion-textarea>
   	  </ion-item>

   	  <ion-item>
   	     <input
   	        type="hidden"
   	        name="storyId">
         <button
           ion-button
           block
           color="primary"
           text-center
           padding-top
           padding-bottom
           [disabled]="!form.valid">
            <div *ngIf="!isEditable">
               Add a new Story
            </div>

            <div *ngIf="isEditable">
               Update this Story
            </div>
            </button>
   	  </ion-item>

   </form>
</ion-content>