<ion-header>
   <ion-navbar>
      <ion-title>
         Feeds to check :- 
      </ion-title>
      
   </ion-navbar>
</ion-header>

<ion-content padding>

   <ion-list>
      <ion-card
         class="userFeeds"
         text-wrap
         *ngFor="let userFeed of userFeeds | async">
         <ion-item>
            <div *ngIf="userFeed.feed">
               <img [src]="userFeed.feed">
            </div>
            
            <p>{{ userFeed.summary }}</p>

         </ion-item>


         <div class="manage-record" padding>
           <button
              ion-button
              text-center
              color="primary"
              (click)="ApproveFeeds(userFeed)">Accept
            </button>
            
            <!-- <button
              ion-button
              text-center
              color="secondary"
              (click)="getAddress()">location
            </button> -->

           <button
              ion-button
              text-center
              color="danger"
              (click)="DeleteFeeds(userFeed.feed)">Decline</button>
       </div>

      </ion-card>
   </ion-list>


</ion-content>